<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enm.genie.board.dao.BoardDAO">
    <sql id="boardColumns">
        boardseq
        ,programseq
        ,title
        ,contents
        ,name
        ,delete_yn
        ,create_date
        ,update_date

    </sql>
    <select id="selectBoardList" parameterType="com.enm.genie.board.dto.BoardDTO" resultType="com.enm.genie.board.dto.BoardDTO">
        SELECT 
            /*boardseq,programseq,title,contents,name,delete_yn,create_date,update_date*/
        <include refid="boardColumns"></include>    ,DATE_FORMAT(update_date, '%Y-%m-%d')  AS "update_date_str"
        FROM genie_board
        <if test='programseq != null and programseq != ""'>
            WHERE `programseq` = #{programseq}
        </if>
        order by create_date desc
    </select>
    <select id="getBoardList" parameterType="int" resultType="com.enm.genie.board.dto.BoardDTO">
        SELECT
        /*boardseq,programseq,title,contents,name,delete_yn,create_date,update_date*/
        <include refid="boardColumns"></include>
        FROM genie_board
        WHERE delete_yn="N"
        <if test='programseq != null and programseq !=0'>
            WHERE `programseq` = #{programseq}
        </if>
        order by create_date desc
    </select>

    <select id="getBoardView" parameterType="int" resultType="com.enm.genie.board.dto.BoardDTO">

        SELECT
        /*boardseq,programseq,title,contents,name,delete_yn,create_date,update_date*/
        <include refid="boardColumns"></include>
        FROM genie_board
        WHERE `boardseq` = #{boardseq}
<!--<choose>-->
<!--    <when test="boardseq != null and boardseq !=0">-->
<!--        SELECT-->
<!--        /*boardseq,programseq,title,contents,name,delete_yn,create_date,update_date*/-->
<!--        <include refid="boardColumns"></include>-->
<!--        FROM genie_board-->
<!--        WHERE `boardseq` = #{boardseq}-->
<!--    </when>-->
<!--    <otherwise>-->
<!--        SELECT 0-->
<!--    </otherwise>-->
<!--</choose>-->
    </select>
    <insert id="saveBoard"  parameterType="com.enm.genie.board.dto.BoardDTO">
        insert into genie_board(programseq,title,contents,name,delete_yn,create_date,update_date)
            values(#{programseq},#{title},#{contents},#{name},#{deleteYn},NOW(),NOW())

    </insert>
    <update id="updateBoard" parameterType="com.enm.genie.board.dto.BoardDTO">
        update genie_board set
            title=#{title},
            contents=#{contents},
            name=#{name},
            delete_yn=#{deleteYn},
            update_date=NOW()
       where boardseq=#{boardseq}</update>
</mapper>