@font-face {
    font-family: 'tvn';
    src: url('~assets/fonts/tvn___light-webfont.eot');
    src: url('~assets/fonts/tvn___light-webfont.eot?#iefix') format('embedded-opentype'),
            url('~assets/fonts/tvn___light-webfont.woff2') format('woff2'),
            url('~assets/fonts/tvn___light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'tvn';
    src: url('~assets/fonts/tvn___medium-webfont.eot');
    src: url('~assets/fonts/tvn___medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('~assets/fonts/tvn___medium-webfont.woff2') format('woff2'),
            url('~assets/fonts/tvn___medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'tvn';
    src: url('~assets/fonts/tvn___bold-webfont.eot');
    src: url('~assets/fonts/tvn___bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('~assets/fonts/tvn___bold-webfont.woff2') format('woff2'),
            url('~assets/fonts/tvn___bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}